{% extends 'base.html' %}

{% block titlename %}
<title>{{ member.username }} 프로필</title>
{% endblock titlename %}

{% block content %}

<div>
    {% if member.image %}
        <img src="{{ member.image.url }}" style="width: 150px; object-fit: cover;" class="rounded-circle">
    {% else %}
        <img src="/media/images/default.png" style="width: 150px; object-fit: cover;" class="rounded-circle">
    {% endif %}
    <h2 style="padding: 0 0 0 20; margin-left: 30px;">{{ member.username }}</h2>
    <p>
        팔로워 {{ member.followers.count }}명 / 팔로잉 {{ member.followings.count }}명
    </p>
</div>

<div>
    <form action="{% url 'users:follow' member.id %}" method="POST">
        {% csrf_token %}
        {% if request.user in member.followers.all %}
        <button type="submit">언팔로우</button>
        {% else %}
        <button type="submit">팔로우</button>
        {% endif %}
    </form>
</div>

<a href="{% url 'articles:articles' %}">홈으로 돌아가기</a>

{% endblock content %}