{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">상품 정보 수정</h2>
<hr>
<h2 style="text-align: center;">상품 정보 수정</h2>
<hr>

<form action="{% url 'articles:update' article.pk %}" method="POST" enctype="multipart/form-data" style="max-width: 600px; margin: 0 auto;">
<form action="{% url 'articles:update' article.pk %}" method="POST" enctype="multipart/form-data" style="max-width: 600px; margin: 0 auto;">
    {% csrf_token %}

    <div class="mb-3">
        <label for="{{ form.title.id_for_label }}" class="form-label fs-3">{{ form.title.label }}</label>
        {{ form.title }}
    </div>

    <div class="mb-3">
        <label for="{{ form.content.id_for_label }}" class="form-label fs-4">{{ form.content.label }}</label>
        {{ form.content }}
    </div>

    <div class="mb-3">
        <label for="{{ form.image.id_for_label }}" class="form-label fs-4">{{ form.image.label }}</label>
        {% if article.image %}
            <div style="text-align: center;">
                <img src="{{ article.image.url }}" style="max-width: 300px; margin-bottom: 10px;">
                <p>현재 파일: {{ article_image_name }}</p>
            </div>
        {% endif %}
        {{ form.image }}
    </div>

    <div class="mb-3">
        <label for="{{ form.price.id_for_label }}" class="form-label fs-4">{{ form.price.label }}</label>
        {{ form.price }}
    </div>

    <div class="mb-3">
        <label for="{{ form.tags.id_for_label }}" class="form-label fs-4">{{ form.tags.label }}</label>
        {{ form.tags }}
    </div>

    <div style="text-align: center;">
        <button type="submit" class="btn btn-secondary" style="width: 100px;">수정</button>
    </div>
</form>

<br>
<div style="text-align: right;">
    <a href="{% url 'articles:article_detail' article.pk %}">
        <button type="button" class="btn btn-secondary">이전</button>
    </a>
</div>

{% endblock content %}
